.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.post-list {
    background-color: whitesmoke;
    min-height: 4rem;

    & li:first-child {
        display: flex;
        justify-content: space-around;
    }
}
