nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;


    & ul {
        list-style: none;
        padding: 0;
    }

    & button {
        min-width: 8rem;
    }
}
