body {
    background-color: pink;
    margin: 0;
    margin-bottom: 8rem;
}

main {
  margin: 1rem;
}

header {
  margin-bottom: 1rem;
}

button {
  cursor: pointer;
}

p, h1, h2 {
    max-width: 40rem;
}

h2 {
  border-bottom: 2px solid gray;
}

main {
  max-width: 40rem;
  margin: 0 auto;
}

label {
  width: fit-content;
  cursor: pointer;
}
