body {
    /* background-color: pink; */
    margin: 0;
    /* margin-bottom: 8rem; */
    padding-bottom: 8rem;
    font-family: 'Inter', sans-serif;
    min-height: 200vh;

    /* background: linear-gradient(304deg, #f8f292, #07bed8, #fd5790, #ffa849, */
      /* #f8f292) white; */

    /* background: linear-gradient(246deg, #059cb2, #fd538d) white; */
    background: linear-gradient(246deg, #059cb2, #ecff20) white;
    /* backdrop-filter: brightness(2.0); */
    backdrop-filter: brightness(1.8);
}

main {
  margin: 1rem;
}

header {
  margin-bottom: 1rem;
}

button {
  cursor: pointer;
}

p, h1, h2 {
    max-width: 40rem;
}

h2 {
  border-bottom: 2px solid gray;
}

main {
  max-width: 40rem;
  margin: 0 auto;
}

label {
  width: fit-content;
  cursor: pointer;
}
